*{
  box-sizing: border-box;
}

.caption{
  position:absolute;
  top:-500px; left:0; right:0;
  background: rgba(0, 0, 0, 0.5);
  color:white;
  font-family:arial;
  padding:30px;
  text-align:justify;
  transition: all 500ms ease;
  border-radius: 25%;
}

.box{
  width:383px;
  height:212px;
  position:relative;
  justify-content: center;
  overflow:hidden;
  padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow:hidden
    
}

.box:hover .caption{
  top:0;
  height:100%;
}